.game-board {
  background-color: var(--color-gray-light);

  @media only screen and (prefers-color-scheme: dark) {
    background-color: var(--pico-card-background-color);
    border: var(--pico-border-width) solid var(--pico-form-element-border-color);
  }

  border-radius: 50px;
  padding-block: 75px;
  padding-inline: 70px;
}

.game-over {
  text-align: center;
}
