.card {
  --_card-width: var(--card-width, 100px);
  --_card-height: var(--card-height, 150px);
  --_card-thickness: var(--card-thickness, 5px);
  --_card-gap: 10px;
  --_transition: 850ms;
  --_transition-flip: 300ms;
  --_shadow-strong: 0px 2px 5px 0px #00000040;
  --_shadow-light: 0 2px 1px 0px rgba(0, 0, 0, 0.1);
  --_flip-easing: linear(
    0,
    0.008 1.1%,
    0.031 2.2%,
    0.129 4.8%,
    0.257 7.2%,
    0.671 14.2%,
    0.789 16.5%,
    0.881 18.6%,
    0.957 20.7%,
    1.019 22.9%,
    1.063 25.1%,
    1.094 27.4%,
    1.114 30.7%,
    1.112 34.5%,
    1.018 49.9%,
    0.99 59.1%,
    1
  );
  position: relative;
  inline-size: var(--_card-width);
  block-size: var(--_card-height);
  transform-style: preserve-3d;
  background-color: var(--pico-primary-inverse);
  border-radius: 10px;
  box-shadow: var(--_shadow-light);
  border: 1px solid var(--color-border);
  transition:
    box-shadow var(--_transition) ease-out,
    transform var(--_transition) var(--_flip-easing);
  transform: translateZ(-100px) rotateY(180deg);

  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    view-transition-name: var(--transition-name);
  }

  grid-row: 1;
  grid-column: 1;

  &.ready {
    grid-row: auto;
    grid-column: auto;
  }

  &:focus-visible {
    outline: 1px solid var(--pico-primary);
  }

  svg.back-image {
    .cover,
    .question-mark {
      transition: fill var(--_transition) ease-out;
    }
    .cover {
      fill: var(--color-gray-light);
    }
    .question-mark {
      fill: var(--color-gray-dark);
    }
  }

  &:hover {
    box-shadow: var(--_shadow-strong);
    svg.back-image {
      .cover {
        fill: var(--color-green-light);
      }
      .question-mark {
        fill: var(--color-green);
      }
    }
  }

  &.flipped {
    transform: translateZ(-100px) rotateY(0deg);
    box-shadow: var(--_shadow-strong);

    &:hover {
      box-shadow: var(--_shadow-light);
    }
  }
  &.matched {
    pointer-events: none;
  }

  .face {
    inset: 0;
    margin: auto;
    border-radius: 8px;
    display: grid;
    place-content: center;
    font-size: 2.25rem;
  }

  .face {
    position: absolute;
    inset: 0;
    width: var(--_card-width);
    height: var(--_card-height);
  }

  .front {
    transform: rotateY(0deg) translateZ(calc(var(--_card-thickness) / 2));
  }

  .back {
    transform: rotateY(180deg) translateZ(calc(var(--_card-thickness) / 2));
  }

  .magic {
    .magic-star {
      --_size: clamp(20px, 1.5vw, 30px);

      animation: scale 700ms ease forwards;
      display: block;
      height: var(--_size);
      left: var(--star-left);
      position: absolute;
      top: var(--star-top);
      width: var(--_size);

      @media (prefers-reduced-motion: reduce) {
        display: none;
      }

      & > svg {
        animation:
          rotate 1000ms linear infinite,
          colorful 1000ms linear infinite;
        display: block;

        & > path {
          fill: hsl(var(--hue), 86%, 55%);
        }
      }
    }
  }
}
