---
import Layout from "@/layouts/Layout.astro";
import Welcome from "@/components/Welcome";
const formId = "welcome-form";
---

<Layout>
  <section>
    <Welcome id={formId} />
  </section>
</Layout>

<script>
  import { validate as validateUsername } from "@/components/Welcome/Welcome.util";
  import { validate as validateSettings } from "@/components/Settings/Settings.util";
  import { userAtom } from "@/store/userStore";
  import { prefetch } from 'astro:prefetch';
  import { allowedMovesAtom, countdownTimeAtom, numberOfPairsAtom } from "@/store/gameStore";

  // Prefetch the game because the user will probably submit the form
  prefetch('/game');

  const formId = "welcome-form";
  const form = document.getElementById(formId) as HTMLFormElement | null;
  form?.addEventListener('submit', () => {
    const data = new FormData(form);
    const { name } = validateUsername(data);
    const { numberOfPairs, countdownTime, allowedGuesses } = validateSettings(data);
    userAtom.set(name)
    numberOfPairsAtom.set(numberOfPairs);
    countdownTimeAtom.set(countdownTime);
    allowedMovesAtom.set(allowedGuesses);
  })
</script>
