.deck {
  --card-width: 100px;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(100%, var(--card-width)), 1fr)
  );
  gap: 10px;
  justify-items: center;

  @container container (min-width: 950px) {
    gap: 20px;
  }
}
