---
import "./Header.css";
import Stats from "@/components/Stats";
import UserMenu from "@/components/UserMenu";
import Logo from "@/assets/images/icons/Logo.svg";
---

<header class="container">
  <nav>
    <ul class="home">
      <li>
        <a href="/" class="home-link">
          <Logo/>
          <span class="visually-hidden">Memoo Mission</span>
        </a>
      </li>
    </ul>
    <Stats client:load />
    <UserMenu client:load />
  </nav>
</header>
