nav {
  display: grid;
  justify-items: center;
  grid-template-columns: auto minmax(50px, 1fr);
  grid-template-areas:
    "home controls"
    "stats stats";

  @container container (min-width: 510px) {
    grid-template-columns: 1fr auto minmax(50px, 1fr);
    grid-template-areas:
      "blank home controls"
      "stats stats stats";
  }

  @container container (min-width: 950px) {
    grid-template-columns: 1fr auto minmax(50px, 1fr);
    grid-template-areas: "home stats controls";
  }

  li {
    /* Switch the padding to margin */
    margin-block-start: var(--pico-nav-element-spacing-vertical);
    padding-block-start: 0;
  }
}

.home {
  grid-area: home;

  justify-self: start;
  font-size: 1.25rem;

  .home-link {
    padding-block-start: 0;
  }
}

.logo {
  block-size: 119px;
  width: auto;
  color: var(--pico-primary);
}

.visually-hidden {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1;
  width: 1;
  margin: -1;
  padding: 0;
  border: 0;
}
