nav {
  display: grid;
  justify-items: center;
  grid-template-columns: auto minmax(50px, 1fr);
  grid-template-areas:
    "home controls"
    "stats stats";

  @container container (min-width: 510px) {
    grid-template-columns: 1fr auto minmax(50px, 1fr);
    grid-template-areas:
      "blank home controls"
      "stats stats stats";
  }

  @container container (min-width: 950px) {
    grid-template-columns: 1fr auto minmax(50px, 1fr);
    grid-template-areas: "home stats controls";
  }

  li {
    /* Switch the padding to margin */
    margin-block-start: var(--pico-nav-element-spacing-vertical);
    padding: 0 var(--pico-nav-element-spacing-horizontal);
  }
}

.home {
  grid-area: home;

  justify-self: start;
  font-size: 1.25rem;

  .home-link {
    padding-block-start: 0;
  }
}

.logo {
  block-size: 119px;
  width: auto;
  color: var(--pico-primary);
}

.visually-hidden {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1;
  width: 1;
  margin: -1;
  padding: 0;
  border: 0;
}

.stats {
  grid-area: stats;
}

.stat {
  --_padding-lg: 15px;
  --_padding-sm: 4.5px;
  display: grid;
  align-items: center;
  grid-template-columns: minmax(170px, auto) 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "score matches"
    "score mistakes";

  &:before {
    display: none;
  }

  .score {
    grid-area: score;
    justify-self: end;
    font-weight: 900;
    font-size: 3.25rem;
    line-height: 1;
    letter-spacing: 0%;
    color: var(--color-brand);
    padding-inline: var(--_padding-lg);
  }

  .matches {
    grid-area: matches;
    align-self: start;
  }

  .mistakes {
    grid-area: mistakes;
    align-self: end;
  }

  .stat-item {
    font-weight: 700;
    font-size: 1.125rem;
    padding-inline: var(--_padding-lg);
    leading-trim: Cap height;
    line-height: 1;
    letter-spacing: 0%;

    border-inline-start: 1px solid var(--color-border);

    &:first-of-type {
      padding-block-end: var(--_padding-lg);
    }

    &:last-of-type {
      padding-block-start: var(--_padding-lg);
      padding-block-end: var(--_padding-sm);
    }

    &:not(:last-of-type) {
      border-block-end: 1px solid var(--color-border);
      padding-block-end: var(--_padding-lg);
      padding-block-start: var(--_padding-sm);
    }
  }
}

.controls {
  grid-area: controls;
  align-self: start;
  justify-self: end;
  flex-wrap: wrap;
  justify-content: end;

  @container container (min-width: 950px) {
    align-self: revert;
  }
}

.control {
  block-size: 44px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;

  span {
    line-height: 1;

    leading-trim: Cap height;
  }

  .icon-button {
    background: none;
    border: none;
    color: var(--color-icon-button);
  }

  &:not(:first-of-type) {
    padding-inline-start: 20px;
    border-inline-start: 1px solid var(--color-border);
  }

  &:not(:last-of-type) {
    padding-inline-end: 20px;
  }
}

.user {
  text-align: right;
}
