---
import "./Header.css";
import Logo from "@/assets/images/icons/Logo.svg";
---

<header class="container">
  <nav>
    <ul class="home">
      <li>
        <a href="/" class="home-link">
          <Logo/>
          <span class="visually-hidden">Memoo Mission</span>
        </a>
      </li>
    </ul>
    <slot name="header"/>
  </nav>
</header>
