.stats {
  grid-area: stats;
}

.stat {
  --_padding-lg: 15px;
  --_padding-sm: 4.5px;
  display: grid;
  align-items: center;
  grid-template-columns: minmax(170px, auto) 1fr;
  grid-template-areas:
    "time matches"
    "time mistakes"
    "time score"
    "time moves";

  &:before {
    display: none;
  }

  .time {
    grid-area: time;
    justify-self: end;
    font-weight: 900;
    font-size: 3.25rem;
    line-height: 1;
    letter-spacing: 0%;
    color: var(--color-brand);
    padding-inline: var(--_padding-lg);
  }

  .matches {
    grid-area: matches;
    align-self: start;
  }

  .mistakes {
    grid-area: mistakes;
    align-self: end;
  }

  .stat-item {
    font-weight: 700;
    font-size: 1.125rem;
    padding-inline: var(--_padding-lg);
    padding-block: var(--_padding-sm);
    leading-trim: Cap height;
    line-height: 1;
    letter-spacing: 0%;

    border-inline-start: 1px solid var(--color-border);

    &:has(+ .stat-item) {
      padding-block-end: var(--_padding-lg);
    }
    & ~ .stat-item {
      padding-block-start: var(--_padding-lg);
    }

    &:not(:last-of-type) {
      border-block-end: 1px solid var(--color-border);
    }
  }
}
