@keyframes scale {
  from,
  to {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

@property --hue {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}

@keyframes colorful {
  from {
    --hue: 0deg;
  }

  to {
    --hue: 100deg;
  }
}
