@keyframes scale {
  from,
  to {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

@property --hue {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}

@keyframes colorful {
  from {
    --hue: 0deg;
  }

  to {
    --hue: 100deg;
  }
}

@keyframes flip {
  0% {
    transform: perspective(500px) translateZ(0px) rotateY(0deg);
  }
  25% {
    transform: perspective(500px) translateZ(50px) rotateY(0deg);
  }
  75% {
    transform: perspective(500px) translateZ(50px) rotateY(180deg);
  }
  100% {
    transform: perspective(500px) translateZ(0px) rotateY(180deg);
  }
}

@keyframes flip-back {
  0% {
    transform: perspective(500px) translateZ(0px) rotateY(180deg);
  }
  25% {
    transform: perspective(500px) translateZ(50px) rotateY(180deg);
  }
  75% {
    transform: perspective(500px) translateZ(50px) rotateY(0deg);
  }
  100% {
    transform: perspective(500px) translateZ(0px) rotateY(0deg);
  }
}
