@import url("./animations.css");
@import url("./view-transition.css");
@import url("./components.css");

:root {
  --font-family-bold: "Gilroy-Bold", sans-serif;
  --font-family-medium: "Gilroy-Medium", sans-serif;
  --font-family-heavy: "Gilroy-Heavy", sans-serif;
  --pico-font-family: var(--font-family-bold);
  --color-brand: #ff3f56;
  --color-green-light: #ebf5f3;
  --color-green: #b6e9de;
  --color-gray-lightest: #dcdcdc1a;
  --color-gray-light: #f5f5f5;
  --color-gray-medium: #d5d5d5;
  --color-gray-light: #f5f5f5;
  --color-gray-dark: #aaaaaa;
  --color-border: var(--color-gray-medium);
  --color-icon-button: var(--color-gray-medium);
  --pico-nav-element-spacing-vertical: 30px;
  --color-card-front-bg: var(--cloli-gray-light);
  --pico-form-element-spacing-vertical: 10px;
  --pico-form-element-spacing-horizontal: 17px;
}

[data-theme="light"],
:root:not([data-theme="dark"]),
:host:not([data-theme="dark"]) {
  --pico-text-selection-color: rgba(244, 93, 44, 0.25);
  --pico-primary: var(--color-brand);
  --pico-primary-background: var(--color-brand);
  --pico-primary-underline: rgba(189, 60, 19, 0.5);
  --pico-primary-hover: #942d0d;
  --pico-primary-hover-background: #bf2e40;
  --pico-primary-focus: rgba(244, 93, 44, 0.5);
  --pico-primary-inverse: #fff;
  --pico-border-radius: 30px;
}
