:root {
  --pico-font-family: "Gilroy-Bold", sans-serif;
  --color-brand: #ff3f56;
  --color-gray-lightest: #dcdcdc1a;
  --color-gray-light: #f5f5f5;
  --color-gray-medium: #d5d5d5;
  --color-gray-light: #f5f5f5;
  --color-gray-dark: #aaaaaa;
  --color-border: var(--color-gray-medium);
  --color-icon-button: var(--color-gray-medium);
  --pico-nav-element-spacing-vertical: 30px;
  --color-card-front-bg: var(--cloli-gray-light);
}

.container {
  container: container / inline-size;
}

@media (prefers-reduced-motion: no-preference) {
  @view-transition {
    navigation: auto;
  }

  main section {
    view-transition-name: content;
  }

  header > nav svg.logo {
    view-transition-name: logo;
  }

  header > nav .user-menu .settings-button {
    view-transition-name: settings;
  }
}
