:root {
  --pico-font-family: "Gilroy-Bold", sans-serif;
  --color-brand: #ff3f56;
  --color-green-light: #ebf5f3;
  --color-green: #b6e9de;
  --color-gray-lightest: #dcdcdc1a;
  --color-gray-light: #f5f5f5;
  --color-gray-medium: #d5d5d5;
  --color-gray-light: #f5f5f5;
  --color-gray-dark: #aaaaaa;
  --color-border: var(--color-gray-medium);
  --color-icon-button: var(--color-gray-medium);
  --pico-nav-element-spacing-vertical: 30px;
  --color-card-front-bg: var(--cloli-gray-light);
}

.container {
  container: container / inline-size;
}

@media (prefers-reduced-motion: no-preference) {
  @view-transition {
    /* biome-ignore lint/correctness/noUnknownProperty: <explanation> */
    navigation: auto;
  }

  main section {
    view-transition-name: content;
  }

  header > nav svg.logo {
    view-transition-name: logo;
  }

  header > nav .user-menu .settings-button {
    view-transition-name: settings;
  }
}

@keyframes scale {
  from,
  to {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

@property --hue {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}

@keyframes colorful {
  from {
    --hue: 0deg;
  }

  to {
    --hue: 100deg;
  }
}
