---
import "@picocss/pico/css/pico.min.css";
import Header from "@/components/Header";
import Footer from "@/components/Footer";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light" />
    <title>Memoo Mission</title>
    <meta name="description" content="Play a game with Memoo Mission" />
  </head>
  <body>
    <Header />
    <main class="container">
      <slot />
    </main>
    <Footer />
  </body>
</html>
