---
import "@picocss/pico/css/pico.min.css";
import Header from "@/components/Header/Header.astro";
import Footer from "@/components/Footer";
import "@/assets/styles/fonts.css";
import "@/assets/styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light" />
    <title>Memoo Mission</title>
    <meta name="description" content="Play a game with Memoo Mission" />
    <link rel="preload" href="https://fonts.cdnfonts.com/s/16219/Gilroy-Bold.woff" as="font" type="font/woff" crossorigin />
  </head>
  <body>
    <Header  />
    <main class="container">
      <slot />
    </main>
    <Footer />
  </body>
</html>
